swagger: "2.0"
info:
  description: "API for Davud Pasha application"
  version: "1.0.0"
  title: "Davud Pasha API"
  contact:
    email: "info@davudpasha.com"
host: davudpasha.com
basePath: "/api"
schemes:
  - "https"
paths:
  /ISearchAct/Execute:
    post:
      summary: "Search events"
      description: "Search events based on specified filters"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "query"
          description: "Search object"
          required: true
          schema:
            $ref: "#/definitions/EventsSearchRequest"
      responses:
        200:
          description: "Successful response"
          schema:
            $ref: "#/definitions/EventsSearchResponse"
  /ICSiemQueryAct/GetList:
    post:
      summary: "Search queries"
      description: "Search queries based on specified filters"
      consumes:
        - "application/json"
      produces:
        - "application/json"
      parameters:
        - in: "body"
          name: "query"
          description: "Search object"
          required: true
          schema:
            $ref: "#/definitions/QueriesSearchRequest"
      responses:
        200:
          description: "Successful response"
          schema:
            $ref: "#/definitions/QueriesSearchResponse"
definitions:
  EventsSearchRequest:
    type: "object"
    properties:
      Reason:
        type: "string"
      Query:
        $ref: "#/definitions/EventsQueryFilter"
      SmartRestRequestContext:
        type: "string"
    required:
      - Reason
      - SmartRestRequestContext
      - Query
    additionalProperties: false
  EventsQueryFilter:
    type: "object"
    properties:
      QuerySQL:
        type: "string"
      DateTimeRange:
        $ref: "#/definitions/DateTimeRange"
      QueryOptions:
        $ref: "#/definitions/EventsQueryOptions"
    required:
      - QuerySQL
      - DateTimeRange
  DateTimeRange:
    type: "object"
    properties:
      DateTimeType:
        type: "string"
        enum:
          - "Last5Minutes"
          - "Last10Minutes"
          - "Last15Minutes"
          - "Last30Minutes"
          - "Last60Minutes"
          - "Last120Minutes"
          - "ThisHour"
          - "Last6Hours"
          - "Last12Hours"
          - "Last48Hours"
          - "Last72Hours"
          - "Today"
          - "Yesterday"
          - "ThisWeek"
          - "PrevWeek"
          - "ThisMonth"
          - "LastMonth"
          - "AllTime"
          - "DateRange"
      StartDate:
        type: "string"
      EndDate:
        type: "string"
    required:
      - DateTimeType
  EventsQueryOptions:
    type: "object"
    properties:
      ShowHighlight:
        type: "boolean"
  EventsSearchResponse:
    type: "object"
    properties:
      Data:
        type: "array"
        items:
          type: "string"
      TotalSize:
        type: "integer"
      QueryType:
        type: "string"
      SelectedColumns:
        type: "array"
        items:
          $ref: "#/definitions/SelectedColumns"
      SearchTime:
        type: "integer"
  SelectedColumns:
    type: "object"
    properties:
      Value:
        type: "string"
      DisplayText:
        type: "string"
      Lookup:
        type: "string"
  QueriesSearchRequest:
    type: "object"
    properties:
      Username:
        type: "string"
      Filter:
        type: "string"
      SmartRestRequestContext:
        type: "string"
    required:
      - Username
      - Filter
      - SmartRestRequestContext
  QueriesSearchResponse:
    type: "object"
    properties:
      Items:
        type: "array"
        items:
          $ref: "#/definitions/QueriesItems"
      FailedItems:
        type: "array"
        items:
          type: "string"
      SuccessItems:
        type: "array"
        items:
          $ref: "#/definitions/QueriesSuccessItems"
  QueriesItems:
    type: "object"
    properties:
      ID:
        type: "string"
      Name:
        type: "string"
      Description:
        type: 
          - "string"
          - "null"
      Query:
        type: "string"
      Columns:
        allOf:
          - $ref: "#/definitions/SelectedColumns"
          - type: "null"
      Author:
        type: "string"
      InsertDate:
        type: "string"
      LastUpdateDate:
        type: "string"
      QueryType:
        type: "string"
      DateTimeRange:
        $ref: "#/definitions/DateTimeRange"
      Tags:
        allOf:
          - type: "array"
            items:
              type: "string"
          - type: "null"
      Mitre Tags:
        allOf:
          - type: "array"
            items:
              type: "string"
          - type: "null"
      KillChainPhase:
        type: "string"
      FromMarket:
        type: "boolean"
      FromModules:
        type: "boolean"
      HasUpdate:
        type: "boolean"
      ModuleId:
        type: 
          - "string"
          - "null"
      ModuleGuid:
        type: 
          - "string"
          - "null"
      SharedUsersAndGroups:
        allOf:
          - type: "array"
            items:
              type: "string"
          - type: "null"
      version:
        type: "integer"
  QueriesSuccessItems:
    type: "object"
    properties:
      Application:
        type: "string"
      Keys:
        type: "array"
        items:
          type: "string"
      SourceType:
        type: "string"